@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với khách sạn G-Hotel</h3>

            <p>
                Khách sạn G-Hotel là khách sạn Quốc tế đầu tiên tại Việt nam. Tọa lạc tại trung tâm thành phố Nha Trang, khách sạn G-Hotel là điểm dừng chân lý tưởng của các du khách trong và ngoài nước cho mỗi chuyến công tác hay du lịch cùng bạn bè và người thân.

                Khách sạn có vị trí thuận lợi gần các khu giải trí, trung tâm lớn và cách sân bay 35km. Các du khách sẽ ấn tượng bởi thiết kế của tòa tháp Trầm Hương.

                Không chỉ làm hài lòng Quý khách bởi hệ thống phòng nghỉ sang trọng cùng các trang thiết bị hiện đại, khách sạn còn cung cấp các dịch vụ phong phú và tiện nghi như: nhà hàng, hòng họp, dịch vụ cho thuê Văn phòng, sân Tennis, Sauna & Massage, trung tâm thể hình, sòng bạc và các dịch vụ giải trí.

                Tại đây, Quý khách sẽ được thưởng thức các món ẩm thực tinh tế mang đậm phong cách truyền thống và được đảm nhiệm bởi các đầu bếp chuyên nghiệp, tài hoa cùng với phong cách phục vụ chuyên nghiệp, nhiệt tình và thân thiện của đội ngũ nhân viên giàu kinh nghiệm. Tất cả đã góp phần nên thương hiệu Khách sạn G-Hotel.

            </p>
        </div>
    </div>
</div>

