@charset "utf-8";
.display-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
img {
  width: 15rem;
}
.subcategory {
  margin: 2rem;
}
#note {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
