@charset "utf-8";
body {
  background-color: var(--dark);
}
.container {
  padding: 5rem;
  background-color: var(--bg);
  flex: 1;
  height: 60vh;
  margin: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 2rem;
  font-size: 5rem;
  font-family: sBold, sans-serif;
  font-weight: bold;
  line-height: 125%;
}

#admin-name {
  font-size: 5rem;
  background-color: var(--sub);
  color: white;
  border-radius: 5px;
  padding: 0 1.5rem;
  letter-spacing: 2px;
}

.button {
  padding: 0;
  width: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  padding: 1rem;
  border: none;
  background-color: var(--accent);
  color: white;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin: 1rem 0;
}

button:hover {
  background-color: var(--sub);
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 45%;
  }
  .container {
    margin: 10vh;
    height: 80vh;
  }
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .button {
    flex-direction: column;
  }
}
